* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #FFF;
}
ul {
    list-style-type: none;
}
.contact,
.products,
.services, 
.sign-up {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: #FFF;
}
.contact {
    background-image: url("./assets/img-2.jpg");
    background-size: cover;
}
.services {
    background-image: url('./assets/img-2.jpg');
    background-size: cover;
}
.products {
    background-image: url('./assets/img-1.jpg');
    background-size: cover;
}
.sign-up {
    background-image: url('./assets/img-8.jpg');
    background-size: cover; 
}

